body{
    font-family: 'Heebo', sans-serif;
    color: white;
    background: #2980b9 url('../images/bg.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
}

html, body {
    height: 100%;
    width: 100%;
    position: fixed;
}

@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 0 -500px;}
}

@-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 0 -500px;}
}

@-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 0 -500px;}
}

@-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 0 -500px;}
}

@keyframes animate {
    from {background-position:0 0;}
    to {background-position: 0 -500px;}
}

#game-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid white;
}

#name-header {
    margin: 25px 0 0 0;
}

.jumbotron {
    background-color: transparent;
}


#chat {
    margin-bottom: 10px;
}

#chat-window {
    height: 150px;
    width: 100%;
    border: 1px black solid;
    padding: 5px;
    background: white;
    color: #333;
    border-radius: 5px
}

.choices img {
    cursor: pointer;
    margin-bottom: 10px;
}

#player-one img:hover {
    margin-left: 15px;
}

#player-two img:hover {
    margin-right: 15px;
}

.big-choice {
    cursor: default !important;
}

.big-choice:hover {
    margin-left: 0px !important;
}

.buttons {
    margin-top: .5em;
    cursor: pointer;
}

#game-container {
    position: relative;
    height: 100%;
}

.rps-intro {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#player-two img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#chat-window {
    overflow-y: auto;
    word-wrap: break-word;
}

.stats-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.player-one-box {
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.player-two-box {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

.stats-box {
    width: 100px;
    height: 150px;
    background: rgba(0,0,0,.8);
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0;
}

.stats-box h4 {
    background-color: white;
    color: black;
}